{{!loop template}}
<section id="loop" class="Container-Large">
  {{#if author}}
    <header class="author Container-Medium">
      <h2>posts: {{pagination.total}}</h2>
      <hr/>
    </header>
  {{/if}}
  {{#if posts}}
  {{#foreach posts}}
    <article>
      <aside>

      </aside>
      <section class="body">
        <header>
          <a href="{{url absolute="true"}}"><h2>{{title}}</h2></a>
          <p><span>{{date format="MMMM DD, YYYY"}}</span> -
          {{#author}}
            <a href="{{url}}">{{name}}</a>
          {{/author}}
          </p>
          <p class="tagged">
            {{tags separator=", "}}
          </p>
        </header>
        <section class="excerpt">
          <p>{{excerpt words="30"}}...<a href="{{url absolute="true"}}"><span>read this</span></a></p>
        </section>
      </section>
    </article>
  {{/foreach}}
  {{else}}
    No posts!
  {{/if}}
  <div style="clear:both;"></div>
  {{pagination}}

</section>
<script>
  jQuery("#loop section.body header h2").fitText();
</script>
