{{!loop template}}
<section id="loop" class="Container-Large">
  {{#foreach posts}}
    <article>
      <aside>

      </aside>
      <section class="body">
        <header>
          <a href="{{url}}"><h2>{{title}}</h2></a>
          <p><span>{{date format="MMMM DD, YYYY"}}</span> - <a href="{{author.url}}">{{author.name}}</a></p>
        </header>
        <section class="excerpt">
          <p>{{excerpt words="30"}}</p>
        </section>
      </section>
    </article>
  {{/foreach}}
  <div style="clear:both;"></div>
</section>
<script>
  jQuery("#loop header h2").fitText();
</script>
