{{!< default}}
{{! post template}}
{{#post}}
  <article id="post" class="Container-Small">
    <header class="post">
      <h1>{{title}}</h1>
    </header>
    <section class="content">
      {{{content}}}
    </section>
    <footer>
      <section class="social">
          <span class="twitter">a</span>
          <span class="facebook">b</span>
          <span class="pinterest">d</span>
      </section>
      <section class="author">
        {{#author}}
          <h2>author:</h2>
          <hr/>
          <section class="body">
            <a href="{{url absolute="true"}}"><h1>{{name}}</h1></a>
            <p>{{bio}}</p>
          </section>
        {{/author}}
      </section>
      <section class="disqus">
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES * * */
            var disqus_shortname = 'danieltamkin-debonair';

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
      </section>
    </footer>
  </article>
{{/post}}
<script>
  jQuery("#post header.post h1").fitText(0.51);
</script>
